<body>
  <div class="container">
    <h1>{{tittle}} </h1>
    <nav >
      <a routerLink="/home" class="btn btn-info" role="button">Dashboard</a>
      <a routerLink="/search" class="btn btn-info" role="button">Search</a>
      <a routerLink="/classification" class="btn btn-info" role="button">Classification</a>
      <a routerLink="/add" class="btn btn-info" role="button">Add jumper</a>
    </nav>

    <div class="containerForBody">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>




