footer {
  padding-top: 10px;
  text-align: center;
  vertical-align: middle;
  position:absolute;
  bottom:0;
  width:auto;
  height:60px;		/* Wysokość nagłówka */
  background:rgba(235,235,235, 0.59);
}
