<div class="container-fluid">
  <form action="jumper" role="form" method="post">

                              <!--BIB-->
    <div class="row" style="text-align: center; font-size: 18px;">
      <div class="thumbnail col-sm-offset-1 col-sm-2" STYLE="border: none;">
        <label class="control-label">
          <strong>Bib:</strong>
        </label>
      </div>

      <div class=" col-sm-offset-1 col-sm-4 name">
        <div class="thumbnail" STYLE="background-color: transparent; border:none;">
          <span class="badge label-primary"
                style="background-color: #337ab7; font-size: 18px; padding: 10px;">
                {{jumpersCount}}</span>
        </div>
      </div>
    </div>



                                <!--Fis_code-->
    <div class="row" style="text-align: center; font-size: 18px;">
      <div class="thumbnail col-sm-offset-1 col-sm-2" STYLE="border: none;">
        <label class="control-label">
          <strong>Fis code:</strong>
        </label>
      </div>

      <div class=" col-sm-offset-1 col-sm-4 name">
        <div class="thumbnail" STYLE="background-color: transparent; border:none;">
          <span class="badge label-primary"
                style="background-color: #337ab7; font-size: 18px; padding: 10px;">
                {{jumperFisCode}}</span>
        </div>
      </div>
    </div>



                                  <!-- NAME -->
    <div class="row" style="text-align: center; font-size: 18px;">

      <div class="thumbnail col-sm-offset-1 col-sm-2" STYLE="border: none;">
        <label class="control-label" for="name">
          <strong>Name:</strong>
        </label>
      </div>
      <div class=" col-sm-offset-1 col-sm-4 name">
        <div class="thumbnail" STYLE="background-color: transparent; border:none;">
          <input type="text" class="form-control" id="name" placeholder="Enter name" name="name"
                 style="border-color: #2be2ff; font-size: 20px; text-align: center;">
        </div>
      </div>

      <div class="showName col-sm-1">
        <div class="thumbnail" STYLE="border: none;font-size: 22px; color: green; background-color: transparent">
          <button type="submit" style="border: none; background-color: transparent"
                  class="glyphicon glyphicon-ok icon-large">
          </button>
        </div>
      </div>
    </div>



                                        <!--SURNAME-->
    <div class="row" style="text-align: center; font-size: 18px;">

      <div class="thumbnail col-sm-offset-1 col-sm-2" STYLE="border: none;">
        <label class="control-label" for="surname">
          <strong>Surname:</strong>
        </label>
      </div>
      <div class=" col-sm-offset-1 col-sm-4 name">
        <div class="thumbnail" STYLE="background-color: transparent; border:none;">
          <input type="text" class="form-control" id="surname" placeholder="Enter surname" name="surname"
                 style="border-color: #2be2ff; font-size: 20px; text-align: center;">
        </div>
      </div>

      <div class="showName col-sm-1">
        <div class="thumbnail" STYLE="border: none;font-size: 22px; color: green; background-color: transparent">
          <button type="submit" style="border: none; background-color: transparent"
                  class="glyphicon glyphicon-ok icon-large">
          </button>
        </div>
      </div>
    </div>



                                      <!--Nationality-->
    <div class="row" style="text-align: center; font-size: 18px;">

      <div class="thumbnail col-sm-offset-1 col-sm-2" STYLE="border: none;">
        <label class="control-label" for="surname">
          <strong>Nationality:</strong>
        </label>
      </div>
      <div class=" col-sm-offset-1 col-sm-4 name">
        <div class="thumbnail" STYLE="background-color: transparent; border:none;">
          <input type="text" class="form-control" id="nationality" placeholder="Enter nationality" name="surname"
                 style="border-color: #2be2ff; font-size: 20px; text-align: center;">
        </div>
      </div>

      <div class="showName col-sm-1">
        <div class="thumbnail" STYLE="border: none;font-size: 22px; color: green; background-color: transparent">
          <button type="submit" style="border: none; background-color: transparent"
                  class="glyphicon glyphicon-ok icon-large">
          </button>
        </div>
      </div>
    </div>



                                      <!--FIRST JUMP POINTS-->
    <div class="row" style="text-align: center; font-size: 18px;">

      <div class="thumbnail col-sm-offset-1 col-sm-2" STYLE="border: none;">
        <label class="control-label" for="surname">
          <strong>First jump points:</strong>
        </label>
      </div>
      <div class=" col-sm-offset-1 col-sm-4 name">
        <div class="thumbnail" STYLE="background-color: transparent; border:none;">
          <input type="text" class="form-control" id="first_jump_points"
                 placeholder="Enter points" name="first_jump_points"
                 style="border-color: #2be2ff; font-size: 20px; text-align: center;">
        </div>
      </div>

      <div class="showName col-sm-1">
        <div class="thumbnail" STYLE="border: none;font-size: 22px; color: green; background-color: transparent">
          <button type="submit" style="border: none; background-color: transparent"
                  class="glyphicon glyphicon-ok icon-large">
          </button>
        </div>
      </div>
    </div>




                                   <!--SECOND JUMP POINTS-->
    <div class="row" style="text-align: center; font-size: 18px;">

      <div class="thumbnail col-sm-offset-1 col-sm-2" STYLE="border: none;">
        <label class="control-label" for="surname">
          <strong>Second jump points:</strong>
        </label>
      </div>
      <div class=" col-sm-offset-1 col-sm-4 name">
        <div class="thumbnail" STYLE="background-color: transparent; border:none;">
          <input type="text" class="form-control" id="second_jump_points"
                 placeholder="Enter points" name="second_jump_points"
                 style="border-color: #2be2ff; font-size: 20px; text-align: center;">
        </div>
      </div>

      <div class="showName col-sm-1">
        <div class="thumbnail" STYLE="border: none;font-size: 22px; color: green; background-color: transparent">
          <button type="submit" style="border: none; background-color: transparent"
                  class="glyphicon glyphicon-ok icon-large">
          </button>
        </div>
      </div>
    </div>


  </form>
</div>
