<div class="container-fluid">
  <form (ngSubmit)="onSubmit()" action="jumpers" role="form" method="post">

                              <!--BIB-->
    <div class="row" style="text-align: center; font-size: 18px;">
      <div class="thumbnail col-sm-offset-1 col-sm-2" STYLE="border: none;">
        <label class="control-label">
          <strong>Bib</strong>
        </label>
      </div>

      <div class=" col-sm-offset-1 col-sm-4 name">
        <div class="thumbnail" STYLE="background-color: transparent; border:none;">
          <span class="badge label-primary"
                style="background-color: #337ab7; font-size: 18px; padding: 10px;">
                {{jumpersCount}}</span>
        </div>
      </div>
    </div>



                                <!--Fis_code-->
    <div class="row" style="text-align: center; font-size: 18px;">
      <div class="thumbnail col-sm-offset-1 col-sm-2" STYLE="border: none;">
        <label class="control-label">
          <strong>Fis code</strong>
        </label>
      </div>

      <div class=" col-sm-offset-1 col-sm-4 name">
        <div class="thumbnail" STYLE="background-color: transparent; border:none;">
          <span class="badge label-primary"
                style="background-color: #337ab7; font-size: 18px; padding: 10px;">
                {{jumperFisCode}}</span>
        </div>
      </div>
    </div>



                                  <!-- NAME -->
    <div class="row" style="text-align: center; font-size: 18px;">

      <div class="thumbnail col-sm-offset-1 col-sm-2" STYLE="border: none;">
        <label class="control-label" for="name">
          <strong>Name</strong>
        </label>
      </div>
      <div class=" col-sm-offset-1 col-sm-4 name">
        <div class="thumbnail" STYLE="background-color: transparent; border:none;">
          <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" [(ngModel)] = "name"
                 style="border-color: #2be2ff; font-size: 20px; text-align: center;">
        </div>
      </div>

      <div class="showName col-sm-1">
        <div class="thumbnail" STYLE="border: none;font-size: 22px; color: green; background-color: transparent">
          <button type="submit" style="border: none; background-color: transparent"
                  class="glyphicon glyphicon-ok icon-large">
          </button>
        </div>
      </div>
    </div>



                                        <!--SURNAME-->
    <div class="row" style="text-align: center; font-size: 18px;">

      <div class="thumbnail col-sm-offset-1 col-sm-2" STYLE="border: none;">
        <label class="control-label" for="surname">
          <strong>Surname</strong>
        </label>
      </div>
      <div class=" col-sm-offset-1 col-sm-4 name">
        <div class="thumbnail" STYLE="background-color: transparent; border:none;">
          <input type="text" class="form-control" id="surname" placeholder="Enter surname" name="surname" [(ngModel)] = "surname"
                 style="border-color: #2be2ff; font-size: 20px; text-align: center;">
        </div>
      </div>

      <div class="showName col-sm-1">
        <div class="thumbnail" STYLE="border: none;font-size: 22px; color: green; background-color: transparent">
          <button type="submit" style="border: none; background-color: transparent"
                  class="glyphicon glyphicon-ok icon-large">
          </button>
        </div>
      </div>
    </div>

    <style>
      p-autocomplete.ng-pristine.ng-valid.ng-touched {
        text-align: center;
      }
    </style>

                                      <!--Country-->
    <div class="row" style="text-align: center; font-size: 18px;">

      <div class="thumbnail col-sm-offset-1 col-sm-2" STYLE="border: none;">
        <label class="control-label" for="surname">
          <strong>Country</strong>
        </label>
      </div>
      <div class="col-sm-offset-1 col-sm-4 name">
      <p-autoComplete [(ngModel)]="country" (onSelect)="setCountry($event)" [suggestions]="countryList"
                      field="name" (completeMethod)="countryFilter($event)" [size]="25" [minLength]="1"
                      [ngModelOptions]="{standalone: true}" placeholder="enter your country" [dropdown]="true">
      </p-autoComplete>
      </div>
    </div>



                                      <!--FIRST JUMP POINTS-->
    <div class="row" style="text-align: center; font-size: 18px;">

      <div class="thumbnail col-sm-offset-1 col-sm-2" STYLE="border: none;">
        <label class="control-label" for="surname">
          <strong>First jump points</strong>
        </label>
      </div>
      <div class=" col-sm-offset-1 col-sm-4 name">
        <div class="thumbnail" STYLE="background-color: transparent; border:none;">
          <input type="text" class="form-control" id="first_jump_points"
                 placeholder="Enter points" name="first_jump_points"
                 style="border-color: #2be2ff; font-size: 20px; text-align: center;">
        </div>
      </div>

      <div class="showName col-sm-1">
        <div class="thumbnail" STYLE="border: none;font-size: 22px; color: green; background-color: transparent">
          <button type="submit" style="border: none; background-color: transparent"
                  class="glyphicon glyphicon-ok icon-large">
          </button>
        </div>
      </div>
    </div>




                                   <!--SECOND JUMP POINTS-->
    <div class="row" style="text-align: center; font-size: 18px;">

      <div class="thumbnail col-sm-offset-1 col-sm-2" STYLE="border: none;">
        <label class="control-label" for="surname">
          <strong>Second jump points</strong>
        </label>
      </div>
      <div class=" col-sm-offset-1 col-sm-4 name">
        <div class="thumbnail" STYLE="background-color: transparent; border:none;">
          <input type="text" class="form-control" id="second_jump_points"
                 placeholder="Enter points" name="second_jump_points"
                 style="border-color: #2be2ff; font-size: 20px; text-align: center;">
        </div>
      </div>

      <div class="showName col-sm-1">
        <div class="thumbnail" STYLE="border: none;font-size: 22px; color: green; background-color: transparent">
          <button type="submit" style="border: none; background-color: transparent"
                  class="glyphicon glyphicon-ok icon-large">
          </button>
        </div>
      </div>
    </div>


    <div class="row">
      <!--<button type="submit" class="btn btn-danger">-->
      <!--back-->
    <!--</button>-->
      <button type="submit" class="btn btn-success">
        create
      </button>
    </div>


  </form>
</div>
