<script>
  $(document).ready(function() {
    alert("Przykładowy tekst.");
  });
</script>


<div class="well">
  <span class="badge">{{message}}</span>
  <div class="row" style="text-align: center; font-size: 18px;">
    <div class=" col-sm-offset-1 col-sm-2 rank">
      <div class="thumbnail" STYLE="background-color: transparent; border:none;">
        <input type="text" class="form-control" id="rank" placeholder="rank" name="rank" [(ngModel)]="rank">
      </div>
    </div>
    <div class=" col-sm-2 bib">
      <div class="thumbnail" STYLE="background-color: transparent; border:none;">
        <input type="text" class="form-control" id="bib" placeholder="bib" name="bib" [(ngModel)]="bib">
      </div>
    </div>

    <div class="col-sm-2 fis_code">
      <div class="thumbnail" STYLE="background-color: transparent; border:none;">
        <input type="text" class="form-control" id="fis_code" placeholder="fis_code" name="fis_code"
               [(ngModel)]="fis_code">
      </div>
    </div>

    <div class="col-sm-2 name">
      <div class="thumbnail" STYLE="background-color: transparent; border:none;">
        <input type="text" class="form-control" id="name" placeholder="name" name="name" [(ngModel)]="name">
      </div>
    </div>
  </div>

  <div class="row" style="text-align: center; font-size: 18px;">
    <div class=" col-sm-offset-3 col-sm-2 surname">
      <div class="thumbnail" STYLE="background-color: transparent; border:none;">
        <input type="text" class="form-control" id="surname" placeholder="surname" name="surname"
               [(ngModel)]="surname">
      </div>
    </div>

    <div class="col-sm-2 nationality">
      <div class="thumbnail" STYLE="background-color: transparent; border:none;">
        <input type="text" class="form-control" id="nationality" placeholder="nationality" name="nationality"
               [(ngModel)]="nationality">
      </div>
    </div>

    <button type="button" class="btn btn-success"
            (click)="findJumperByPattern(rank, bib, fis_code, name, surname, nationality)">Search</button>
  </div>
</div>


<div class="container-fluid" style="margin-top: 70px;" >
  <div *ngFor="let item of jumperList">
    <!--<div style="width: 300px; background-color: #337ab7">-->
    <div class="col-sm-push-1 col-sm-3 well"
         style="float: left; background-color: rgba(255,255,255,0.79); margin: 20px; colot: rgba(0,0,0,1)">
      <div class="col-sm-2">
          <tbody class="center">
              <tr><td>id: </td><td>{{item.id}}</td></tr>
              <tr><td>rank: </td><td>{{item.rank}}</td></tr>
              <tr><td>bib: </td><td>{{item.bib}}</td></tr>
              <tr><td>fis_code: </td><td>{{item.fis_code}}</td></tr>
              <tr><td>name: </td><td>{{item.name}}</td></tr>
              <tr><td>surname: </td><td>{{item.surname}}</td></tr>
              <tr><td>nationality: </td><td>{{item.nationality}}</td></tr>
              <tr><td>total points: </td><td>{{item.total_points}}</td></tr>
          </tbody>
      </div>
      <div style="float: left; width: 100px; height: 100px;">
        <img src="../../photo/image.png"/>
      </div>
      <!--<span>id: </span>{{item.id}}-->
      <!--<span>rank: </span>{{item.rank}}-->
      <!--<span>bib: </span>{{item.bib}}-->
      <!--<span>fis_code: </span>{{item.fis_code}}-->
      <!--<span>name: </span>{{item.name}}-->
      <!--<span>surname: </span>{{item.surname}}-->
      <!--<span>nationality: </span>{{item.nationality}}-->
      <!--<span>total points: </span>{{item.total_points}}-->
    </div>
  </div>
</div>

