.well {
  margin-top: 40px;
  background-color: rgba(245, 245, 245, 0.56);
}

.badge {
  font-size: 24px;
  margin-bottom: 10px;
  background-color: #2f527c;
  padding: 10px;
}

.form-control{
  border-color: #2f527c;
  font-size: 20px;
  text-align: center;
}

h1 {
  margin-top: 0px;
}

button {
  float: right;
  margin-right: 100px;
}
