.span {
  height: 500px !important;
  overflow: scroll;
}
.well {
  margin-top: 40px;
  background-color: rgba(244, 244, 244, 0.94);
}
html {
  width: auto;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  overflow-x: hidden;
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

