<div class="well">
  <h2>cos tam </h2>

  <div class="col-sm-7"></div>
  <div class="col-sm-5">
    <table>
      <td>
        <tr>{{jumper.name}} {{jumper.surname}}</tr>
        <tr>{{jumper.rank}}</tr>
        <tr>{{jumper.bib}}</tr>
        <tr>{{jumper.fis_code}}</tr>
        <tr>{{jumper.nationality}}</tr>
        <tr>{{jumper.first_jump}}</tr>
        <tr>{{jumper.points_for_first_jump}}</tr>
        <tr>{{jumper.second_jump}}</tr>
        <tr>{{jumper.points_for_second_jump}}</tr>
        <tr>{{jumper.total_points}}</tr>
      </td>
    </table>
  </div>

  <div class="col-sm-12">
    <div class="back" style="font-size: 32px; margin-top: 40px;">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </div>
  </div>
</div>
